@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'twister';
    src: url('../src/fonts/Twister_Font_Family_(Fontmirror)/Twister 400.ttf') format('ttf');
  } */

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-left {
    animation: slide-in-left 0.3s ease forwards;
  }